# Copier ce fichier en secrets.toml et remplir les valeurs
# Sur Streamlit Cloud : Settings > Secrets

# Si les fichiers de donnees sont stockes sur un cloud (optionnel)
# [gcs]
# type = "service_account"
# project_id = ""
# private_key_id = ""
# private_key = ""
# client_email = ""
# client_id = ""
# auth_uri = "https://accounts.google.com/o/oauth2/auth"
# token_uri = "https://oauth2.googleapis.com/token"

# [aws]
# aws_access_key_id = ""
# aws_secret_access_key = ""
# bucket = ""
